table select,
table input{
    width: 70px;
}
table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

thead tr {
    background-color: lightblue;
    border: 1px solid black;
}

table tbody tr:nth-child(odd) {
    background-color: lightgrey;
}

table tbody tr:nth-child(even) {
    background-color: white;
}

table tbody td {
    border: 1px solid black;
    padding: 8px;
}


.balckPictue {
    display: flex;
    justify-content: center;
height: 50vh;
}
.balckPictue img{
max-width: 100%;
max-height: 100%;
}
.blackGroundFooter{
    width: 90vw;
    height: 110vh;
    background-color: black;
    padding: 5%;
}

.redBackground{
    background-color: aqua;
}

.resultTable {
    width:300px;
    border-collapse:collapse;
}

.resultTable td {
    background-color: white;
    width:60px;

}
.resultTable div{
    height:100px;
}
